* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow: hidden;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.header {
  width: min-100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.constructor {
  display: flex;
  width: 100%;
  height: 100%;
}


/* LEFT MENU */

.leftMenuBox {
  width: 70px;
  background-color: #665DFE;
}

.smallBox {
  width: 64px;
  height: 250px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.messingerIcon {
  transition: .1s;
  background-color: white;
  padding: 5px;
  margin: 13px;
  border-radius: 7px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.messingerIcon:hover {
  opacity: 0.8;
}

.hw-24 {
  width: 25px;
  color: rgb(200, 200, 200);
  cursor: pointer;
  transition: .3s;
}

.hw-24:nth-child(1) {
  color: white;
}

.hw-24:hover {
  color: white !important;
}

/* END LEFT MENU */


/* Right Menu */

.rightMenuBox {
  width: 55px;
  background-color: #383F44;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #2D2D2D;
}

.rightMenuBoxIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  border-bottom: 2px solid #2D2D2D;
  flex-direction: column;
  color: white;
}

.rightMenuBoxIconMenu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rightMenuBoxIconMenu svg {
  margin-top: 30px;
  color: #B1B1B1;
  cursor: pointer;
}

.rightMenuBoxLeftBox {
  width: 350px;
  height: 100%;
  position: absolute;
  margin-left: -350px;
  display: flex;
  flex-direction: column;
}

.rightMenuBoxLeftBoxHeader {
  width: 100%;
  height: 75px;
  border-bottom: 2px solid #2D2D2D;
  border-right: 2px solid #2D2D2D;
  background-color: #383F44;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.rightMenuBoxLeftBoxHeader>svg {
  width: 30px;
  color: #fff;
  opacity: .1;
}

.rightMenuBoxLeftBoxFooter {
  width: 100%;
  height: 100px;
  background-color: #383F44;
  border-top: 2px solid #2D2D2D;
  border-right: 2px solid #2D2D2D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.rightMenuBoxLeftBoxFooter>button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #665DFE;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.rightMenuBoxLeftBoxFooter>button:hover {
  background-color: #362AFE;
}

.rightMenuBoxLeftBoxMenu {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #323333;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #2D2D2D;
}

.rightMenuBoxLeftBoxMenuHeader {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 10px 17px;
  background-color: #383F44;
}

.rightMenuBoxLeftBoxMenuHeaderEngl,
.rightMenuBoxLeftBoxMenuHeaderLat {
  width: 43%;
  background-color: #2A2A2A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ADB5BD;
  border-radius: 7px;
  transition: .3s;
  border: 1px solid #2A2A2A;
}

.rightMenuBoxLeftBoxMenuHeaderArrow {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.rightMenuBoxLeftBoxMenuHeaderEngl::after,
.rightMenuBoxLeftBoxMenuHeaderLat::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.rightMenuBoxLeftBoxMenuHeaderLatTwo::after {
  display: none;
}

.rightMenuBoxLeftBoxMenuHeaderLatTwo {
  width: 49%;
}

.rightMenuBoxLeftBoxMenuHeaderLatTwo input {
  width: 100%;
  height: 100%;
  background-color: #2A2A2A;
  color: white;
  border-radius: 7px;
  transition: .3s;
  border: 1px solid #2A2A2A;
  padding: 0 10px;
  outline: none;
}

.rightMenuBoxLeftBoxMenuHeaderLatTwo input::placeholder {
  color: #ADB5BD;
  font-size: 1.1em;
}

.rightMenuBoxLeftBoxMenuHeaderEngl:hover,
.rightMenuBoxLeftBoxMenuHeaderLat:hover {
  background-color: #495057;
}

.dropDownLat {
  width: 45%;
  height: 220px;
  position: absolute;
  background-color: #2B2B2B;
  margin-top: 275px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  padding: 10px 0;
  border: 1px solid black;
  z-index: 99;
}

.dropDaunLangTwo {
  width: 100%;
  height: 40px;
  transition: .2s;
  display: flex;
  align-items: center;
  padding: 20px;
}

.dropDaunLangTwo:hover {
  background-color: #383F44;
}

.hw-22 {
  cursor: pointer;
}

.rightMenuBoxLeftBox {
  z-index: 999;
}

.rightMenuBoxLeftBoxMenuTextaerea {
  width: 100%;
  height: 100%;
  background-color: #323333;
  padding: 10px;
}

.rightMenuBoxLeftBoxMenuTextaerea>textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #323333;
  background-color: #2A2A2A;
  resize: vertical;
  color: #B9B9B9;
  font-size: 1.2em;
  padding: 10px;
}

.rightMenuBoxLeftBoxMenuTextaerea>div {
  background-color: #383F44;
  margin-top: 10px;
  color: #B9B9B9;
  padding: 20px;
  width: 100%;
}

.rightMenuBoxLeftBoxMenuNotesBigBox {
  width: 100%;
  height: 100%;
  background-color: #323333;
  padding: 15px;
}

.rightMenuBoxLeftBoxMenuNotesSmalBox {
  width: 100%;
  height: 200px;
  background-color: #383F44;
  border-radius: 10px;
  border: 1px solid #2D2D2D;
}

.rightMenuBoxLeftBoxMenuNotesSmalBoxMenu {
  width: 100%;
  padding: 0 15px 15px;
  border-bottom: 1px solid #2D2D2D;
}

.rightMenuBoxLeftBoxMenuNotesSmalBoxMenu>p {
  color: #adb5bd;
  font-size: 0.9em;
  margin-top: 10px;
}

.rightMenuBoxLeftBoxMenuNotesSmalBoxMenu>p:nth-child(2) {
  color: white;
  font-size: 1.3em;
}

.rightMenuBoxLeftBoxMenuNotesSmalBoxFooter {
  width: 100%;
  height: 25px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}

.rightMenuBoxLeftBoxMenuNotesSmalBoxFooterColor {
  padding: 1px 7px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: .8em;
}

.rightMenuBoxLeftBoxMenuNotesSmalBoxFooterMenu:hover {
  opacity: .1;
}

.rightMenuBoxLeftBoxMenuList {
  width: 100%;
  height: 100%;
  background-color: #323333;
  padding: 10px;
}

.tasksMenuSmallBox {
  width: 100%;
  height: 200px;
}

.tasksMenuSmallBoxOne {
  width: 100%;
}

.tasksMenuSmallBoxTwo {
  width: 100%;
  background-color: #383F44;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #2B2B2B;
  padding: 0 20px 20px;
}

.tasksMenuSmallBoxTwo>div {
  color: white;
  font-size: 17px;
  margin-top: 20px;
}

.tasksMenuSmallBoxTwo>div>span {
  margin-left: 10px;
  cursor: pointer;
}

.tasksMenuSmallBoxTwo>div>input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}


/* End Right Menu */


/* BigMenu */

.searchChatBody {
  width: 100%;
  display: flex;
}

.chatBox {
  width: 35%;
  background-color: #2D2D2D;
  display: flex;
  flex-direction: column;
}

.chatBoxSmallOne {
  width: 100%;
  height: 100px;
  background-color: #383F44;
}

.chatBoxSmallTwo {
  width: 100%;
  height: 100%;
  background-color: #2D2D2D;
  padding: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

.messageBox {
  width: 65%;
  background-color: #323333;
  display: flex;
}

.chatBoxSmallOneTextIconBox {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.chatBoxSmallOneTextBox {
  width: 20%;
  color: white;
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  margin-left: 20px;
}

.chatBoxSmallOneIconBox {
  width: 20%;
}

.hw-20 {
  width: 20px;
  color: rgb(200, 200, 200);
  cursor: pointer;
}

.hw-20:nth-child(2) {
  margin-left: 7px;
}

.chatGrupCrate {
  position: absolute;
  margin-left: -90px;
  border-radius: 10px;
  padding: 15px 0;
  background-color: #2B2B2B;
  display: none;
  z-index: 9;
}

.chatGrupCrate>div {
  margin-top: 10px;
  padding: 5px 30px;
  color: rgb(200, 200, 200);
}

.chatGrupCrate>div:hover {
  background-color: #495057 !important;
  cursor: pointer;
}

.chatBoxSmallOneInputBoxChatBox {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chatBoxSmallOneChatBox {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #2A2A2A;
  text-align: center;
  line-height: 33px;
  color: rgb(200, 200, 200);
  cursor: pointer;
}

.chatBoxSmallOneChatBox:hover {
  background-color: #495057 !important;
}

.chatBoxSmallOneInputBox {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  background-color: #2A2A2A;
  padding-left: 10px;
  color: white;
  outline: none;
}

.chatBoxSmallOneInputBox::placeholder {
  color: rgb(200, 200, 200) !important;
}

.selectChatDrop {
  margin-top: -5px;
  margin-left: 20px;
  padding: 5px 0px;
  width: 150px;
  line-height: 40px;
  font-size: 17px;
  border-radius: 7px;
  color: rgb(200, 200, 200);
  border-style: none;
  background-color: #2A2A2A;
  position: absolute;
  z-index: 20 !important;
  display: none;
}

.selectChatDrop>div {
  margin-top: 10px;
  cursor: pointer;
  padding-left: 20px;
}

.selectChatDrop>div:hover {
  background-color: #495057 !important;
}

.chatBoxSmallTwoSmallBox {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding: 0 15px;
  display: flex;
  cursor: pointer;
  border: 1px solid #333341;
  transition: .3s;
  border-radius: 5px;
}

.chatBoxSmallTwoSmallBox:hover {
  border: 1px solid #665DFE;
}

.chatBoxSmallTwoSmallBox:nth-child(3),
.chatBoxSmallTwoSmallBox:nth-child(5) {
  background-color: #383F44;
}

.chatBoxSmallTwoSmallBoxImgBox {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chatBoxSmallTwoSmallBoxImg::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: green;
  position: absolute;
  border-radius: 100%;
  margin-left: 34px;
  border: 2px solid #2D2D2D;
}

.chatBoxSmallTwoSmallBoxImg {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.chatBoxSmallTwoSmallBoxTextBox {
  width: 77%;
  height: 100%;
  overflow: hidden;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chatBoxSmallTwoSmallBoxTextBoxTitleBox {
  max-width: 100%;
  height: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  color: white;
}

.chatBoxSmallTwoSmallBoxTextBoxTitleBoxTwo {
  color: #ADB5BD;
  width: 70px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}

.chatBoxSmallTwoSmallBoxTextBoxTxtBox {
  max-width: 100%;
  height: 20px;
  overflow: hidden;
  margin-top: 10px;
  color: #ADB5BD;
  display: flex;
}

.chatBoxSmallTwoSmallBoxTextBoxTitleBoxTwoNum {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #665DFE;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

.groupBox {
  background-color: #44A675;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.beforNone::before {
  display: none;
}

.beforGrGr::before {
  width: 7px;
  height: 7px;
  background-color: gray;
  border: 3px solid white;
}

.beforRe::before {
  background-color: red;
}

.beforGrWh::before {
  width: 7px;
  height: 7px;
  background-color: #44A675;
  border: 3px solid white;
}

.beforGr::before {
  background-color: gray;
}

.beforOr::before {
  background-color: #FFB74D;
}

.chatBoxSmallTwoSmallBoxImg>img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.chatBoxSmallTwoSmallBoxImgP {
  margin-top: 17px;
  text-align: center;
  font-weight: bold;
  color: white;
}


/* End BigMenu */


/* All Menu */

.allBigMenuBox {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newChatBox {
  position: absolute;
  width: 450px;
  background-color: #383F44;
  left: 35%;
  top: 15%;
  display: none;
  border-radius: 5px;
}

.newChatBoxTitle {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.newChatBoxTitle>div:nth-child(2) {
  font-size: 2em;
  margin-top: -15px;
  cursor: pointer;
  color: #6d7575;
}

.newChatBoxTitle>div:nth-child(2):hover {
  color: black;
}

.newChatBoxInputBox {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #262626;
  padding: 15px;
}

.newChatBoxInput {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #2A2A2A;
  padding-left: 10px;
  color: white;
  outline: none;
  color: white;
}

.newChatBoxInput::placeholder {
  color: rgb(190, 190, 190) !important;
}

.createGroup {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #383F44;
  left: 35%;
  top: 20%;
  display: none;
  border-radius: 5px;
}

.createGroupInputBox {
  width: 100%;
  border-bottom: 1px solid #262626;
  padding: 15px;
}

.createGroupInputBox>div {
  width: 100%;
  margin-top: 10px;
  color: white;
}

.createGroupInputBox>div:nth-child(2),
.createGroupInputBox>div:nth-child(3) {
  margin-top: 30px;
}

.createGroupInputBox>div:nth-child(1)>input,
.createGroupInputBox>div:nth-child(2)>input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  background-color: #2A2A2A;
  padding-left: 10px;
  font: 1.3em;
  color: white;
}

.createGroupInputBox>div>input::placeholder {
  color: rgb(190, 190, 190) !important;
}

.labelOne {
  border: 1px solid white;
  margin-top: 10px;
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: auto;
  line-height: 45px;
  padding-left: 10px;
}

.labelOne:nth-child(2) {
  margin-left: 7.5px;
}

.createGroupEnter {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.createGroupCansel {
  color: #929AA1;
  font-size: 1.1em;
  cursor: pointer;
}

.createGroupCansel:hover {
  text-decoration: underline;
}

.createGroupEnterPrivac {
  width: 190px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.createGroupPrivac {
  width: 100px;
  background-color: #5A6269;
  color: #B3B5B7;
  font-size: 1.1em;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  transition: .2s;
}

.createGroupEnterTwo {
  width: 70px;
  background-color: #665DFE;
  color: white;
  font-size: 1.2em;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
}

.createGroupEnterTwo:hover {
  background-color: #4237FE;
}

.InviteBox {
  position: absolute;
  width: 450px;
  background-color: #383F44;
  left: 35%;
  top: 20%;
  display: none;
  border-radius: 5px;
}

.inviteBoxInputBox {
  width: 100%;
  border-bottom: 1px solid #262626;
  padding: 15px;
  color: white;
}

.inviteBoxInputBox>div {
  font-size: 1.1em;
}

.inviteBoxInputBox>input {
  height: 40px;
  margin-top: 5px;
}

.inviteBoxInputBox>textarea {
  height: 80px;
  padding-top: 7px;
  margin-top: 5px;
  resize: none;
}

.inviteBoxInputBox>input::placeholder,
.inviteBoxInputBox>textarea::placeholder {
  color: rgb(190, 190, 190) !important;
  font-size: 1.1em;
}

.invite {
  justify-content: flex-end;
  padding-bottom: 15px;
}

.cancelInvite {
  color: #929AA1;
  font-size: 1.1em;
  cursor: pointer;
  width: 70px;
  color: #B3B5B7;
  font-size: 1.1em;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  line-height: 40px;
  height: 40px;
  margin-left: -40px;
}

.cancelInvite:hover {
  text-decoration: underline;
}

.sendInvitation {
  height: 45px;
  width: 150px;
  background-color: #665DFE;
  color: white;
  font-size: 1.2em;
  text-align: center;
  line-height: 47px;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
}

.newChatBoxNext {
  position: absolute;
  width: 450px;
  background-color: #383F44;
  left: 35%;
  top: 15%;
  display: none;
  border-radius: 5px;
}

.createGroupPrivacHover:hover {
  color: white;
  background: #6C757D;
  cursor: pointer;
}

.createGroupEnd {
  position: absolute;
  width: 450px;
  background-color: #383F44;
  left: 35%;
  top: 20%;
  display: none;
  border-radius: 5px;
}

.createGroupEndTextIcon {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #262626;
}

.createGroupEndIconBox {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.createGroupEndIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #44A675;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: .3s;
  cursor: pointer;
}

.createGroupEndIcon:hover {
  background: #35825C;
}

.createGroupEndTitle {
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 1.1em;
}

.createGroupEndTxt {
  text-align: center;
  margin-top: 20px;
  color: #929AA1;
}

.newChatBoxUsers {
  height: 300px;
  overflow-y: scroll;
}

.addChatGroup {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.newChatBox,
.createGroup,
.InviteBox,
.newChatBoxNext,
.createGroupEnd {
  z-index: 2;
}


/* End All Menu */


/* Big Menu Two */

.messageBoxSmallBigBoxStart {
  width: 100%;
  height: 100%;
  background-color: #323333;
  justify-content: center;
  align-items: center;
  display: flex;
}

.messageBoxSmallBigBoxStartBigBox {
  width: 300px;
}

.messageBoxSmallBigBoxStartBigBoxImgBox,
.messageBoxSmallBigBoxStartBigBoxTitlBox,
.messageBoxSmallBigBoxStartBigBoxTxtBox,
.messageBoxSmallBigBoxStartBigBoxBttBox {
  width: 100%;
  text-align: center;
}

.messageBoxSmallBigBoxStartBigBoxTitlBox {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
}

.messageBoxSmallBigBoxStartBigBoxTxtBox {
  margin-top: 20px;
  color: #ADB5BD;
}

.messageBoxSmallBigBoxStartBigBoxImg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: auto;
}

.messageBoxSmallBigBoxStartBigBoxImg img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.messageBoxSmallBigBoxStartBigBoxBttBox {
  margin-top: 20px;
}

.messageBoxSmallBigBoxStartBigBoxBttBox>div {
  width: 190px;
  margin: auto;
  height: 35px;
  padding: 0 10px;
  border-radius: 7px;
  background-color: inherit;
  border: 1px solid #665DFE;
  color: #665DFE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: .3s;
}

.messageBoxSmallBigBoxStartBigBoxBttBox>div:hover {
  background-color: #665DFE;
  color: white;
}

.messageBoxSmallBigBoxCatherine {
  width: 100%;
  height: 100%;
  background-color: #323333;
  /* display: flex; */
  display: none;
}

.messageBoxSmallBigBoxCatherineBigBox {
  width: 100%;
  /* width: 60%; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messageBoxSmallBigBoxCatherineBigBoxHeader {
  width: 100%;
  height: 75px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderImg {
  display: flex;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderImgTitleBox {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderImgBox {
  width: 70px;
  height: 100%;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderImg {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 100%;
  position: relative;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderImg img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderImg::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: green;
  position: absolute;
  border-radius: 100%;
  margin-left: 34px;
  border: 2px solid #2D2D2D;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderTitleTxtBox>p:nth-child(1) {
  color: white;
  margin-top: 3px;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderTitleTxtBox>p:nth-child(2) {
  color: #9c9c9c;
  margin-top: 8px;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderIcon {
  width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}

.messageBoxSmallBigBoxCatherineBigBoxHeaderIcon svg {
  cursor: pointer;
}

.messageBoxSmallBigBoxCatherineBigBoxSearch {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #2D2D2D;
  border-top: 1px solid #2D2D2D;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.messageBoxSmallBigBoxCatherineBigBoxSearchInput {
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  background-color: #2A2A2A;
  padding-left: 15px;
  font-size: 15px;
  color: white;
  display: none;
}

.messageBoxSmallBigBoxCatherineBigBoxMessiger {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  overflow-y: scroll;
}

.messageBoxSmallBigBoxCatherineBigBoxMessigerSmallBox {
  width: 400px;
  margin-top: 30px;
  align-self: flex-end;
}

.messageBoxSmallBigBoxCatherineBigBoxMessigerSmallBoxText {
  padding: 20px 40px;
  background-color: #665DFE;
  border-radius: 20px;
  color: white;
}

.messageBoxSmallBigBoxCatherineBigBoxMessigerSmallBoximgtxt {
  width: 200px;
  height: 60px;
  margin-left: 230px;
  margin-top: -40px;
  display: flex;
  align-items: flex-end;
  color: #ADB5BD;
  font-size: .8em;
  justify-content: space-between;
}

.hw-18 {
  cursor: pointer;
}

.messageBoxSmallBigBoxCatherineBigBoxMessigerSmallBoximgtxt svg {
  width: 20px;
}

.messageBoxSmallBigBoxCatherineBigBoxMessigerSmallBoximgtxt img {
  width: 60px;
  width: 60px;
  border-radius: 100%;
  border: 10px solid #323333;
}

.messageBoxSmallBigBoxCatherineBigBoxSubmitTxt {
  width: 100%;
  height: 100px;
  border-top: 1px solid #2D2D2D;
  display: flex;
  justify-content: space-between;
}

.messageBoxSmallBigBoxCatherineBigBoxIconPlus {
  width: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.messageBoxSmallBigBoxCatherineBigBoxIconPlus svg:hover {
  color: #454B50;
  transition: .3s;
}

.messageBoxSmallBigBoxCatherineBigBoxIconPlusBox {
  position: absolute;
  width: 160px;
  height: 210px;
  background-color: #2B2B2B;
  margin: -255px -145px 0 0;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  padding: 10px 0;
  z-index: 9;
}

.messageBoxSmallBigBoxCatherineBigBoxIconPlusBoxSmallBox {
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  transition: .3s;
  align-items: center;
  color: rgba(197, 201, 223, .8);
  padding: 0 20px;
}

.messageBoxSmallBigBoxCatherineBigBoxIconPlusBoxSmallBox>span {
  margin-left: 25px;
}

.messageBoxSmallBigBoxCatherineBigBoxIconPlusBoxSmallBox>svg {
  color: rgba(197, 201, 223, .8);
}

.messageBoxSmallBigBoxCatherineBigBoxIconPlusBoxSmallBox>svg:hover {
  color: rgba(197, 201, 223, .8);
}

.messageBoxSmallBigBoxCatherineBigBoxIconPlusBoxSmallBox:hover {
  background-color: #383F44;
}

.inputMessig {
  width: 100%;
  color: #454B50;
  transition: .3s;
  background-color: #323333;
  outline: none;
  border: 1px solid #323333;
  padding-left: 10px;
  color: white;
}

.inputMessig::placeholder {
  color: #A3A3A3;
}

.messageBoxSmallBigBoxCatherineBigBoxSmile {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smailBigBox {
  cursor: pointer;
}

.messageBoxSmallBigBoxCatherineBigBoxButtonBox {
  width: 70px;
  height: 70px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageBoxSmallBigBoxCatherineBigBoxButton {
  width: 50px;
  height: 50px;
  background-color: #665DFE;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.smileBox {
  width: 59.7%;
  /* top: 50%; */
  margin-top: -250px;
  display: none;
  flex-direction: column;
  height: 200px;
  position: absolute;
  animation: animSmile 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  box-shadow: 0 1px 5px rgb(0 0 0 / 32%);
}

@keyframes animSmile {
  from {
    margin-top: -250px;
  }
  to {
    margin-top: -210px;
  }
}

.smileBoxHeader {
  width: 100%;
  height: 50px;
  background-color: #868686;
  display: flex;
  justify-content: space-between;
}

.smileBoxHeaderImg {
  width: 11.111%;
  height: 100%;
  text-align: center;
  line-height: 70px;
  filter: grayscale(100%);
  transition: .3s;
  display: inline-block;
  cursor: pointer;
}

.smileBoxHeaderImg:hover {
  filter: grayscale(0%);
}

.smileBoxHeaderImg:nth-child(1) {
  filter: grayscale(0%);
  background-color: #323333;
}

.allSmile {
  width: 100%;
  height: 100%;
  background-color: #323333;
  color: white;
  padding: 5px 10px;
  overflow-y: scroll;
}

.groupInfoBigBox {
  position: absolute;
  width: 200px;
  top: 50px;
  margin-left: -75px;
  background-color: #2B2B2B;
  padding: 10px 0;
  display: none;
  z-index: 999;
}

.groupInfoBigBoxIconTxt {
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.groupInfoBigBoxIconTxt:hover {
  background-color: #383F44;
}

.groupInfoBigBoxIconTxt>span {
  margin-left: 10px;
  color: #B1B1B1;
}

.catherineProfileBigBox {
  width: 40%;
  height: 100%;
  background-color: #383F44;
  display: flex;
  flex-direction: column;
  display: none;
}

.catherineProfileBigBoxHeader {
  width: 100%;
  height: 85px;
  border-bottom: 2px solid #2D2D2D;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.catherineProfileBigBoxHeader>span {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.catherineProfileBigBoxHeader>svg {
  color: #9c9c9c;
  font-weight: bold;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.catherineProfileBigBoxImgTitleTxtIcon {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 2px solid #2D2D2D;
}

.catherineProfileBigBoxImg {
  width: 130px;
  height: 130px;
  margin: auto;
  margin-top: 30px;
  border-radius: 100%;
}

.catherineProfileBigBoxImg img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.catherineProfileBigBoxTitle {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin-top: 20px;
}

.catherineProfileBigBoxTxt {
  width: 100%;
  color: #B1B1B1;
  text-align: center;
  margin-top: 10px;
  font-size: 1.1em;
}

.catherineProfileBigBoxTxt svg {
  width: 14px;
}

.catherineProfileBigBoxIcon {
  width: 180px;
  text-align: center;
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 10px;
}

.catherineProfileBigBoxIconBacg {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.catherineProfileBigBoxIconBacg:nth-child(1):hover {
  background-color: #484F56 !important;
}

.catherineProfileBigBoxIconBacg:nth-child(2):hover {
  background-color: #362AFE !important;
}

.catherineProfileBigBoxIconBacg:nth-child(3):hover {
  background-color: #FC005A !important;
}

.addNewNote {
  position: absolute;
  width: 450px;
  background-color: #383F44;
  left: 35%;
  top: 15%;
  border-radius: 5px;
  z-index: 999;
  display: none;
}

.addNewNoteSelect {
  width: 100%;
  height: 30px;
  background-color: #383F44;
  color: #444B51;
  margin-top: 10px;
}

.listAutoBox,
.listAutoBoxGrac {
  position: absolute;
  width: 450px;
  background-color: #383F44;
  left: 35%;
  top: 15%;
  border-radius: 5px;
  z-index: 999;
  display: none;
}

.sendInvitationFinish {
  width: 80px;
  background-color: #44A675;
  height: 45px;
  color: white;
  font-size: 1.2em;
  text-align: center;
  line-height: 47px;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
  margin-left: 15px;
}

.sendInvitation:hover {
  background-color: #4237FE;
}

.sendInvitationFinish:hover {
  background-color: #398B62;
}

.rightMenuBoxLeftBoxMenuSetting {
  width: 100%;
  background-color: #383F44;
}

.rightMenuBoxLeftBoxMenuSettingBox {
  width: 100%;
  height: 50px;
  border: 1px solid #2B2B2B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.raundBox {
  width: 40px;
  height: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: white;
  padding: 3px;
}

.raundBtt {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #ADB5BD;
  position: relative;
  cursor: pointer;
}

.notificationsBigBox {
  position: absolute;
  width: 500px;
  background-color: #383F44;
  left: 35%;
  top: 15%;
  border-radius: 5px;
  z-index: 999;
  display: none;
}

.notificationsMenuBox {
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}

.notificationsBigBoxEnd {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  color: #929AA1;
  cursor: pointer;
}

.notificationsBigBoxEnd>span:hover {
  text-decoration: underline;
}

.notificationsMenuBox {
  width: 100%;
  border-bottom: 1px solid #262626;
}

.notificationsMenuBoxOne {
  width: 100%;
  border: 1px solid #2B2B2B;
}

.notificationsMenuSmallBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px;
}

.notificationsMenuSmallBoxImgBox {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificationsMenuSmallBoxImg {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #665DFE;
  transition: .3s;
  cursor: pointer;
}

.notificationsMenuSmallBoxMenuBox {
  margin-top: 15px;
  color: white;
}

.notificationsMenuSmallBoxImg:hover {
  background: #362AFE;
}

.notificationsMenuSmallBoxMenuBoxSpan {
  cursor: pointer;
  color: #635BF2;
}

.notificationsMenuSmallBoxMenuBoxSpan:hover {
  color: #231CBD;
}

.notificationsMenuBoxTwo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.notificationsMenuBoxTwoBtt {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FD337B;
  color: #FD337B;
  cursor: pointer;
  transition: .3s;
}

.notificationsMenuBoxTwoBtt:hover {
  background: #FF337C;
  color: white;
}

.notificationsMenuBoxTwoBttTwo {
  width: 100px;
  height: 40px;
  background: #665DFE;
  margin-left: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: .3s;
}

.notificationsMenuBoxTwoBttTwo:hover {
  background: #4237FE;
}

.akardionBigBox {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.akardionBigSmallBoxOne {
  width: 100%;
  padding: 0 20px;
  border-left: 2px solid #2D2D2D;
  border-bottom: 2px solid #2D2D2D;
}

.akardionBigSmallBoxOneBtt {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.akardionBigSmallBoxOneBtt>span {
  color: white;
  font-weight: bold;
}

.akardionBigSmallBoxOneBtt>svg {
  color: #737A81;
}

.akardionBigSmallBoxOneMenu {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  transition: 1s;
}

.akarOne {
  height: 241px;
}

.akarTwo {
  height: 152px;
}

.akarThre {
  height: 280px;
}

.akardionBigSmallBoxOneMenuImg {
  width: 100%;
  height: 100px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.akardionBigSmallBoxOneImg {
  background-color: red;
  width: 90px;
  height: 100%;
}

.akardionBigSmallBoxOneImg>img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.akardionBigSmallBoxOneMenuBoxOne {
  width: 100%;
  height: 80px;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.akardionBigSmallBoxOneMenuBoxOneImgBox {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.akardionBigSmallBoxOneMenuBoxOneImg {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #665DFE;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.akardionBigSmallBoxOneMenuBoxOneImg:hover {
  background-color: #362AFE;
}

.akardionBigSmallBoxOneMenuBoxOneTxtTitlBox {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.akardionBigSmallBoxOneMenuBoxOneTxtBox {
  width: 90%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.akardionBigSmallBoxOneMenuBoxOneTxtBoxTitlBox {
  width: 100%;
  height: 25px;
  overflow: hidden;
  margin-left: 10px;
  font-size: 0.9em;
}

.hover {
  transition: .2s;
}

.hover:hover {
  color: #42494F;
}

.mainMediaBtt {
  position: relative;
  font-size: 2em;
  color: #8F959B;
  margin-left: -20px;
  cursor: pointer;
  padding-right: 3px;
  display: none;
}

/* End Big Menu Two */

.rightMenuBoxIconTwo {
  width: 100%;
  border-bottom: 2px solid #2B2B2B;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
}

.rightMenuBoxIconTwo>svg {
  transition: .3s;
}

.rightMenuBoxIconTwo>svg:hover {
  color: #454C52;
}

.messageBoxSmallBigBoxCatherineBigBoxSearchTwo {
  padding: 10px 40px;
  height: 70px;
}

.top,
.topTwo {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.opac {
  opacity: .1;
}

.smile {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
}

.color {
  color: #ADB5A2;
  text-decoration: line-through;
}

.height {
  height: 0;
  padding: 0;
}

.bttOpen {
  display: none;
}